body{
    background-color: black;
    color: aqua;
}

.stats{
    width: 200px;
    
    float: left;
    /*
    background-color: white;
    */
}

.all{
    width: 450px;
    
    float: left;
    /*
    background-color: white;
    */
}

.fields{
    width: 40px;
    color: black;
}